<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    style
        include ../static/style1.css
</head>

<body>
    <nav id="y">
        <ul id="w">
            <li><a href="/project" id="one1"  class="WE">PROJECTS</a></li>
            <li><a href="/contact" id="one2" class="WE"> CONTACT</a></li>
            <li><a href="/" id="one3" class="WE"> HOME</a></li>
            <label for="S" style="color: white;font-weight: bold ;padding: 0px 8px;">SEARCH:</label>
            <input type="text" style="float: right; color: rgb(0, 0, 0);"  placeholder="under-construction" >


        </ul>


    </nav>
    <div class="l" style="display: flex; justify-content: space-around; margin-top: 40px;" >
        <img src="https://i.postimg.cc/9F42bq8G/r6-Yemv-F9-400x400.jpg" alt="" style="height: 150px; width: 150px; margin-top: 14px;" >
        
        <img src="https://i.postimg.cc/nrBpL5Pc/2021-Facebook-icon-svg-1.webp" alt="" style="max-height: 9%;max-width: 12%;    margin-top: 13px;">
        <img src="https://i.postimg.cc/zGmH0Yrp/Linkedin-logo-1-550x550-300x300.png" alt=""style="max-height: 15%;max-width: 11%;">
    </div>
    <div class="l" style="display: flex; justify-content: space-around; margin-top: 39px; margin-left: 20px;" >
        <a href="https://github.com/Suvanshnarang" class="po" target="_blank" class="po">GITHUB</a>
        <a href="https://www.facebook.com/profile.php?id=100075807548818" class="po" target="_blank" style="margin-left: 12px;">FACEBOOK</a>
        <a href="https://www.linkedin.com/in/suvansh-narang-b9a6a3227/" class="po" target="_blank">LINKEDIN</a>

    </div>


</body>

</html>