<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=\, initial-scale=1.0">
    <title>#{title}</title>
    style
        include ../static/style.css
    



</head>

<body>
    <nav id="y">
        <ul id="w">
            <li><a href="/project" id="one1">PROJECTS</a></li>
            <li><a href="/contact" id="one2"> CONTACT</a></li>
            <li><a href="/" id="one3"> HOME</a></li>
            <label for="S" style="color: white;font-weight: bold ;padding: 0px 8px;">SEARCH:</label>
            <input type="text" style="float: right; color: rgb(0, 0, 0);"  placeholder="under-cnstruction" >

        </ul>


    </nav>
    <center>

       <div class="pp" style="" >
        <div class="l">
            <span style="font-size: 50px;">&lt/</span>
        </div>
        <div class="k" >
            <span >
           
    
                <img src="https://i.postimg.cc/ZKDmM4LW/Whats-App-Image-2022-04-06-at-00-15-19.jpg" style="margin-top: 11px; height: 40%;width: 30%; border: 3px solid black ; padding: 6px; background-color: rgb(227 237 240);" alt="logiinn" class="er" id="rt" onclick="fun()" >
            </span>
        </div>
        <div class="p">
            <span style="font-size: 50px;">></span>
            <span>
        </div>

       </div>



        <h2 style="margin-top: 10px;"> SUVANSH NARANG</h2>

        <p style="margin-left: 70px;margin-right: 70px; text-align: center; font-style: italic;" id="err">hello, i am a suvansh narang a fresher at iit roorkee from branh ECE.
        </p>
        <p style=" text-align: center; font-style: italic;" >my hobbies lie in development especially in web dev</p>

    </center>
    script 
        include ../static/rt.js


</body>

</html>