<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    style
        include ../static/STYLE1.css
</head>

<body>
    <nav id="y">
        <ul id="w">
            <li><a href="/project" id="one1" class="WE" >PROJECTS</a></li>
            <li><a href="/contact" id="one2" class="WE"> CONTACT</a></li>
            <li><a href="/" id="one3" class="WE"> HOME</a></li>
            <label for="S" style="color: white;font-weight: bold ;padding: 0px 8px;">SEARCH:</label>
            <input type="text" style="float: right; color: rgb(0, 0, 0);"  placeholder="under-construction" >


        </ul>


    </nav>
    <center>
        <h2>SYNTAX ERROR</h2>
        <div class="ll" style="display: flex;text-align: left;">
            
           
            <p style=" font-weight: bold; margin-bottom: 30px; margin-left: 50px; margin-right: 50px;">I participated in syntax error in 2022 and were one of the finalist went for presentation round but didn't won. our team named  semicolon consisting of 4 members me , amandeep, aditya, noble made VIBE a  small tinder for iitr students in which people can see other people and depeneding on no. of tags matched and these tags were specific to iit rorrkee. i did front end developing in that project  </p>
        </div>

            <a href="https://github.com/Suvanshnarang/vibe" class="poo" style="margin-top: 200px;">REPO LINK(GIT HUB USERNAME:Suvanshnarang)</a>
                <h2>PERSONAL PROJECT</h2>
                <p>I made tic-tac-toe <br> <br> <a href="https://github.com/Suvanshnarang/TIC-TAC-TOE" target="_blank" style="color: red;">Repo-link:</a></p>

    </center>

</body>

</html>